
.MarketContainer {
    position: absolute;
    background-color: #4442;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    justify-self: center;
    align-self: center;
    height: 90%;
    max-height: 90%;
    overflow-y:scroll;
    left: 16px;
    width: 600px;
    border: 2px dotted #222;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.PerchaseInfoTop {
    position: relative;
    background: grey;
    height: 60px;
    margin: 2px;
}

.PerchaseInfoBottom {
    position: relative;
    background: #444;
    display: flex;
    justify-content: space-evenly;
}

.StockContainer {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    background-color: #222;
}

.Stock {
    position: relative;
    background-color: #404040;
    display: flex;
    flex-direction: column;
    margin: auto;
    left: auto;
    height: 140px;
    width: 98%;
    margin: 3px;
    border-radius: 4px;
}

.StockName {
    color: white;
    font-size: 32px;
    margin: 0px;
    bottom: 0px;
}

.StockTag {
    color: white;
    font-size: 16px;
    margin-left: 2px;
    margin: 0px;
    position: relative;
    bottom: -4px;
}

.StockButton {
    right: 0px;
    height: 90%;
    width: 90px;
    font-size: 20px;
}

.StockButtonBuy {
    top: 0px;
    color: green;
}

.StockButtonSell {
    bottom: 0px;
    color: red;
}

.StockButtonSellEmpty {
    bottom: 0px;
    border: 0px;
    border-radius: 2px;
    color: #777;
    background-color: #555;
}

.StockLogo {
    width: 64px;
    height: 64px;
}

.StockSection {
    background-color: blue;
}

.StockTop  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top:    0px;
    width: auto;
    height: 50%;
    margin: 0px;
    margin-top: 2px;
    margin-right: 4px;
    margin-left: 4px;
}

.StockTopRight {
    position: relative;
    right: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.StockTopRightTexts {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-content: right;
}

.GreenText {
    color: #2f0;
}

.RedText {
    color: #ff2010;
}

.StockTopRightTexts p {
    margin: 0px;
    margin-right: 6px;
}

.StockTopRightTextsPrice {
    font-size: 24px;
    text-align: right;
    color: white;
}

.StockTopRightTextsPercent {
    font-size: 16px;
    text-align: right;
}

.StockBottomRightParts {
    display: flex;
    flex-direction: row;
    margin-left: 4px;
}

.StockBottomRightTextsAmount {
    position: relative;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    color: white;
    bottom: 0px;
    text-align: bottom;
    margin-right: 6px;
    margin-bottom: 2px;
    margin-top: auto;
}
/* Bottom Stock */

.StockBottom {
    display: flex;
    justify-content: space-between;
    bottom: 0px;
    width: auto;
    height: 50%;
    margin: 0px;
    margin-bottom: 2px;
    margin-left: 4px;
    margin-right: 4px;
}

.StockBottomTexts {
    display: flex;
    flex-direction: column;
    margin: 0px;
}
